.page {
    width: 800px;
    height: 600px;
    margin: 20px auto;
}

#screen {
    background-color: #ECF0F1;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.logo-container {
    width: 100%;
    height: 300px;
}

.logo-text {
    text-align: center;
    padding: 100px;
}

.logo-intro {
    text-align: center;
    padding: 200px;
}

.dialog {
    background-color: #FFFFFF;
}

.container-game {
    position: absolute;
    z-index: 100;
}

.container-modals {
    position: absolute;
    z-index: 200;
}

.container-instruction {
    padding-top: 400px;
}
