<div class="row">
    <h1>Ashteroids</h1>
    <h2>v0.1.0</h2>
    <h3>by <a href="http://abiyasa.com/blog/">Abiyasa</a></h3>
</div>

<div class="row">
    <p>A simple Asteroids game using <a href="https://github.com/brejep/ash-js">Ash Framework</a>,
    HTML5 Canvas, <a href="http://www.createjs.com/">CreateJS</a>, and <a href="http://threejs.org/">three.js</a></p>
</div>

<div class="row">
    <p>
        Ash Framework, originally written for ActionScript 3, is an entity-component system for game development.
    </p>
    <p>
        It's a way to organise and manage your game code without sacrificing the game performance.
    </p>
</div>

<div class="row">
    <a href="http://www.ashframework.org/"><img src="http://ashframework.org/images/logo.png" alt="[Ash Framework]" /></a>
    <p>
        For more information about Ash Framework, including introductory articles, checkout its official page at
        <a href="http://www.ashframework.org/">http://www.ashframework.org/</a>.
    </p>
</div>

<div class="row">
    <p>
        Ashteroids source code is available at <a href="https://github.com/abiyasa/ashteroids-js">GitHub</a>
    </p>
</div>

<div>
    <button id="button-ok" class="btn btn-primary btn-large">OK</button>
</div>
