<div class="row">
    <h1>Ashteroids</h1>
</div>

<div id="myCarousel" class="logo-container carousel slide">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <!--<img src="" alt="">-->
            <div class="carousel-thumb" style="background-color: #3498db; "></div>
            <div class="carousel-caption">
                <h4>HTML5 Canvas</h4>
                <p>Asteroids using HTML5 Canvas. ALl game objects are drawn using graphics instructions (without bitmap or spritesheet)</p>
            </div>
        </div>
        <div class="item">
            <!--<img src="" alt="">-->
            <div class="carousel-thumb" style="background-color: #e74c3c; "></div>
            <div class="carousel-caption">
                <h4>Simple CreateJS</h4>
                <p>Asteroids using CreateJS. ALl game objects are drawn using graphics instructions from CreateJS (without bitmap or spritesheet)</p>
            </div>
        </div>
        <div class="item">
            <!--<img src="" alt="">-->
            <div class="carousel-thumb" style="background-color: #2ecc71; "></div>
            <div class="carousel-caption">
                <h4>CreateJS Sprites</h4>
                <p>Asteroids using CreateJS and Sprites</p>
            </div>
        </div>
        <div class="item">
            <!--<img src="" alt="">-->
            <div class="carousel-thumb" style="background-color: #f1c40f; "></div>
            <div class="carousel-caption">
                <h4>ThreeJS</h4>
                <p>Asteroids in 3D using ThreeJS. WebGL is required!</p>
            </div>
        </div>
    </div>

    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="row">
    <p>An asteroids game using <a href="https://github.com/brejep/ash-js">Ash Framework</a>,
    HTML5 Canvas, <a href="http://www.createjs.com/">CreateJS</a>, and <a href="http://threejs.org/">three.js</a></p>
</div>

<div>
    <button id="button-start" class="btn btn-primary btn-large">Start</button>
    <button id="button-settings" class="btn">Settings</button>
    <button id="button-about" class="btn">About</button>
</div>
