<div class="logo-container">
    <div class="logo-text"><h1>Ashteroids</h1></div>
</div>

<div class="row">
    <p>An asteroids game using <a href="https://github.com/brejep/ash-js">Ash Framework</a>,
    HTML5 Canvas, <a href="http://www.createjs.com/">CreateJS</a>, and <a href="http://threejs.org/">three.js</a></p>
</div>

<div>
    <button id="button-start" class="btn btn-primary btn-large">Start</button>
    <button id="button-settings" class="btn">Settings</button>
    <button id="button-about" class="btn">About</button>
</div>
