<div class="row">
    <h1>Ashteroids</h1>
    <p>
        Simple Asteroids game using <a href="https://github.com/brejep/ash-js">Ash Framework</a>
    </p>
</div>

<div id="myCarousel" class="logo-container carousel slide">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <div class="carousel-thumb canvas">
                <h4>HTML5 Canvas</h4>
            </div>
            <div class="carousel-caption">
                <p>Render the game using HTML5 Canvas <br /> with simple shapes</p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-thumb createjs">
                <h4>Simple CreateJS</h4>
            </div>
            <div class="carousel-caption">
                <p>Render the game using <a href="http://www.createjs.com/">CreateJS</a> <br /> with simple shapes</p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-thumb createjs-sprite">
                <h4>CreateJS Sprites</h4>
            </div>
            <div class="carousel-caption">
                <p>Render the game using <a href="http://www.createjs.com/">CreateJS</a> and sprite sheet</p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-thumb threejs">
                <h4>ThreeJS</h4>
            </div>
            <div class="carousel-caption">
                <p>Render the game in 3D using <a href="http://threejs.org/">Three.js</a> with simple shapes.
                <p>WebGL-enabled browser is required!</p>
            </div>
        </div>
    </div>

    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="row">
    <button id="button-start" class="btn btn-primary btn-large">Play</button>
    <!-- Note: no need settings screen
    <button id="button-settings" class="btn btn-link">Settings</button>
    -->
    <button id="button-about" class="btn btn-link">About</button>
</div>
