<div class="logo-container">
    <div class="logo-text"><h1>Settings</h1></div>
</div>

<div class="row">
    Renderer
    <span>
        <select id="select-render-mode">
            <option value="canvas">Canvas</option>
            <option value="createjs">CreateJS</option>
            <option value="createjs-bitmap">CreateJS &amp; Bitmap</option>
            <option value="threejs">ThreeJS</option>
        </select>
    </span>
</div>

<div>
    <button id="button-ok" class="btn btn-primary btn-large">OK</button>
    <button id="button-cancel" class="btn">Cancel</button>
</div>
